@import '../../scss/_variables';
@import '../../scss/_mixins';

@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import url('https://fonts.googleapis.com/css?family=Lato');

.profile-main  {
    
    .dashboard-btns-box{
    box-shadow: 0px 2px 10px $black;
    }

    .profile-box-main {
        width: 86%;

        margin: 16px auto;
        border-radius: 3px;
        letter-spacing: 0.5px;
    }

    
    .profile-box {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 0 auto 16px auto;
        justify-content: space-between;
        // border-bottom: 1px solid $black;
        padding: 8px 8px 8px 8px;
        background: $black;
        box-shadow: 0px 0px 1px $bigGreen;
        overflow: none;

    }
    
    .profile-box h3 {
        // -webkit-text-stroke: 1px black;
        font-size: 24px;
        color: $bigGreen;
        // text-shadow: 0px 0px 2px $darkGrey;
        margin-right: 20px;

        font-weight: bold;
    }

    .profile-box p {
        // background: $lightGrey;
        font-size: 22px;
        color: $bigGreen;
        // text-shadow: 0px 0px 8px $black;
        font-weight: bold;
    }
    .profile-box input {
        background: $lightGrey;
        width: 55px;
        height: 30px;
        border:none;
        border-radius: 1px;
        padding: 6px;
        border: 1px solid $black;
        box-shadow: 0px 0px 1px $bigGreen;
        font-size: 20px;
        font-family: $lato;
    }
    .profile-box .weight {
        width: 100px
    }
    .profile-button-div {
        width: 100%;

        display: flex;
        justify-content: center;
    }
    .profile-button-div button{
        width: 60%;
        height: 48px;
        margin: 18px auto 40px auto;
        font-family: $lato;
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 1px;
        background: $bigGreen;
        color: $lightGrey;
        text-shadow: 1px 1px 5px $black;
        border: none;
        border-radius: 1px;
        box-shadow: 0px 2px 10px $black;
    }
    // .profile-weight-box, .profile-fat-box {
    //     margin-bottom: 0;
    

    // }
  @media screen and  (max-width: 374px) {
      .profile-box p {
          font-size: 16px;
      }
      .profile-box p.lean-body-mass {
          font-size: 22px;
      }
  }
  @media screen and (min-width: 530px) {
      .profile-button {
          max-width: 320px;
      }
  }
  @media screen and (min-width: 575px) {
      .performance-feed {
          font-size: 60px;
        margin-bottom: 40px;
      }
      .profile-box {
          height: 60px;
          box-shadow: 0px 0px 3px $bigGreen;
      }
      .profile-box h3 {
          font-size: 30px;
      }
      .profile-box p {
          font-size: 28px;
      }
      .profile-box input {
          height: 40px;
          font-size: 28px;
          font-weight: bold;
      }
      
  }
  @media screen and (min-width: 700px) {
      .performance-feed {
          max-width: 560px;
      }
      .profile-box-main {
          max-width: 600px;
      }
  }
  @media screen and ( min-width: 1024px) {
    .performance-feed {
        margin-top: 60px;
        font-size: 90px;
      margin-bottom: 40px;
    }
    .profile-box {
        height: 80px;
        
        // box-shadow: 0px 0px 6px $bigGreen;
        padding: 16px;
    }
    .profile-box h3 {
        font-size: 40px;
    }
    .profile-box p {
        font-size: 36px;
    }
    .profile-box input {
        height: 54px;
        font-size: 36px;
        font-weight: bold;
    }
    .profile-box-main {
        max-width: 800px;
    }
    .profile-button-div button.profile-button {
        height: 72px;
        font-size: 36px;
        letter-spacing: 2px;
        text-shadow: 1px 3px 4px $black
    }
    

    @media screen and ( min-width: 1025px) {
        .profile-box-main {
            background: rgba(214, 214, 214, 0.445);
            padding: 16px;
            border: 3px solid $bigGreen;
        }
        .profile-box h3 {
            color: $lightGrey;
        }
    }
    
  }
    
}