@import '../../scss/_variables';
@import '../../scss/_mixins';

@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    font-family: $lato;
}
h3 {
    font-size: 24px;
    font-family: $lato;
    color: #efedef;
    text-shadow: 0px 2px 8px $black;
}
.hide-me {
    display: none;
}

.name-select-box {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;

    select {
        height: 36px;
        font-family: "Lato", sans-serif;
        border: 3px solid #6ead3a;
        background: #4c4947;
        box-shadow: 0px 2px 10px #222022;
        font-size: 16px;
        font-weight: bold;
        padding-left: 8px;
        color: #efedef;
        letter-spacing: 1.5px;
        max-width: 75%;
        margin-top: 10px;
    }
}
.mid-box-child {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 16px auto 0 auto;
}

.type-toggle-div {
    // background: yellow;
    width: 60%;
    display: flex;
    justify-content: space-around;
}
.type-toggle-div button {
    height: 36px;
    letter-spacing: 1.5px;
    font-weight: bold;
    border: 3px solid #6ead3a;
    border-radius: 1px;
    box-shadow: 0px 2px 10px #222022;
    color: #efedef;
    background: $darkGrey;
    margin-left: 1%;
    width: 40%;
    font-size: 12px;
    
}

#cardio-black, #weights-black {
    background: $black;
}
.activities-toggle-div {
    select {
        height: 36px;
        font-family: "Lato", sans-serif;
        border: 3px solid #6ead3a;
        background: #4c4947;
        box-shadow: 0px 2px 10px #222022;
        font-size: 16px;
        font-weight: bold;
        padding-left: 8px;
        color: #efedef;
        letter-spacing: 1.5px;
        max-width: 75%;
        margin-top: 10px;
    }
}

.cardio-activities-box {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 8px auto 0 auto;
    
    select {
        margin-left: 12px;
    }
}

.distance {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 14px auto 0 auto;
    select {
        max-width: 50%;
    }
}

.lift-type-div {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 14px auto 0 auto;
    select {
        margin-left: 12px;
    }
}
.lift-weight-box {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 14px auto 0 auto;
    select {
        margin-left: 25px;
    }
}

//-----------------Media Queries----------------------

.name-select-box, .mid-box-child, .cardio-activities-box, .distance , .lift-type-div, .lift-weight-box {
    @media screen and (min-width: 768px) {
        width: 86%;
        max-width: 1200px;
    }
}
.name-select-box select {
    @media screen and (min-width: 320px) {
        max-width: 240px;
    }
    @media screen and (min-width: 768px) {
        height: 50px;
        font-size: 22px;
        max-width: 350px;
    }
}
.mid-box-child .cardio, .mid-box-child .weights{
    @media screen and (min-width: 768px) {
        height: 50px;
        font-size: 24px;
    }
}
.lift-type-div select, .lift-weight-box select  {
    @media screen and (min-width: 768px) {
        height: 50px;
        font-size: 22px;
        // width: 250px;
    }
}
.distance {
    @media screen and (min-width: 420px) {
        flex-direction: row;
        align-items: center;
        margin-top: 10px;
    }
}
.cardio-activities-box select {
    @media screen and (min-width: 768px) {
        height: 50px;
        font-size: 22px;
    }
}

.distance select {
   
    @media screen and (min-width: 420px) {
        width: 190px;
        margin-left: 12px;
    }
    @media screen and (min-width: 768px) {
        height: 50px;
        font-size: 22px;
    }
}

.type-toggle-div button {
    @media screen and (min-width: 575px) {
        font-size: 16px;
        padding-bottom: 3px;
    }
}
h3 {
    @media screen and (min-width: 768px) {
        font-size: 28px;
    }
}
select {
    @media screen and (min-width: 768px) {
        height: 50px;
    }
}

@media screen and (min-width: 1024px) {
    #search-main {
        background-image: url('../../assets/biker.jpg')!important;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment:  fixed;
        overflow: scroll;
        min-height: 100vh;
    }
}

@media screen and (min-width: 1024px) {
    h2 {
        padding-top: 20px;
    }
    .search-top-overlay {
        width: 100%;
        background: yellow;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0px 0 20px 0;
        background: rgba(0, 0, 0, 0.664);
        margin-bottom: 35px;
    }
}