// light grey = #efedef,
// dark light #ceccce, 
// green #6ead3a, 
// dark grey #4c4947, 
// Black #222022
$lightGrey: #efedef;
$mediumGrey: #ceccce;
$bigGreen: #6ead3a;
$darkGrey: #4c4947;
$black: #222022;
