@import '_variables';

* button:hover, select:hover {
    cursor: pointer;
}

.app {
    width: 100%;
}
.footer-box {
    height: 100px;
}
@media screen and (min-width: 675px) and (max-width: 800px){
    .login-container, .register-container{
        margin-top: 100px;
    }
}
@media screen and (min-width: 801px) and (max-width: 1024px) {
    .login-container{
        margin-top: 140px;
    }
}

@media screen and (min-width: 1025px){
    body {
        max-height: 100vh;
        background-image: url(../assets/bodybuilding_hero.jpg) !important;
        background-size: cover!important;
        background-repeat: no-repeat!important;
        overflow: hidden;

        // background-position: top;
    }
    .app {
        // background: yellow;
        margin-top: 0

    }
    .login-main, .register-main {
        max-width: 1024px;
        margin: 0 auto;
        border: 5px solid $bigGreen;
        height: 90vh;
        max-height: 1000px;
        margin-top: 5vh;
        margin-bottom: 5vh;
        box-shadow: 0 6px 20px $black;
        background: #4c4947e1!important;

        
    }
    .login-main {
        min-height: 790px;
    }
    .login-container {
        padding-top: 250px;
        
    }
    .dash-fixed-header {
        @media screen and (min-width: 1025px) {
            box-shadow: none;
        }
    }
    
}
.completed:hover {
    cursor: pointer
}
// @media screen and (min-width: 1025px) and (max-width: 1366px){
//     .login-main {
//         max-width: 1024px;
//         margin: 0 auto;
//         background-color: yellow !important;
//     }
// }